database/application.wadl

<?xml version="1.0" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="FDSN event web service 1.0"/>
   <resources base="http://ec2-54-93-53-183.eu-central-1.compute.amazonaws.com:8000/fdsnws/event/1/">
      <resource path="/">
         <method id="index" name="GET">
            <response>
               <representation mediaType="text/plain"/>
               <representation mediaType="application/xml"/>
            </response>
         </method>
         <resource path="/query">
            <method id="query" name="GET">
               <request>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="starttime" style="query" type="xs:date">
                     <doc xml:lang="english" title="limit to events occurring on or after the specified start time">
                        Examples: starttime=2012-11-29 or 2012-11-29T00:00:00 or 2012-11-29T00:00:00.000
                     </doc>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endtime" style="query" type="xs:date">
                     <doc xml:lang="english" title="limit to events occurring on or before the specified end time"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="minlatitude" style="query" type="xs:double" default="-90.0">
                     <doc xml:lang="english" title="southern boundary"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="maxlatitude" style="query" type="xs:double" default="90.0">
                     <doc xml:lang="english" title="northern boundary"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="minlongitude" style="query" type="xs:double" default="-180.0">
                     <doc xml:lang="english" title="western boundary"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="maxlongitude" style="query" type="xs:double" default="180.0">
                     <doc xml:lang="english" title="eastern boundary"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="minmagnitude" style="query" type="xs:double">
                     <doc xml:lang="english" title="Limit to events with a magnitude larger than or equal to the specified minimum"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="maxmagnitude" style="query" type="xs:double">
                     <doc xml:lang="english" title="Limit to events with a magnitude smaller than or equal to the specified maximum"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="maxdepth" style="query" type="xs:double">
                     <doc xml:lang="english" title="Limit to events with depths equal to or less than the specified depth"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mindepth" style="query" type="xs:double">
                     <doc xml:lang="english" title="Limit to events with depths equal to or greater than the specified depth"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mincor" style="query" type="xs:double" default="0.0">
                     <doc xml:lang="english" title="Limit the minimum value of the maximum correlation coefficient for an event"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="maxcor" style="query" type="xs:double" default="1.0">
                     <doc xml:lang="english" title="Limit the maximum value of the maximum correlation coefficient for an event"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="minpeakrot" style="query" type="xs:double" default="0.0">
                     <doc xml:lang="english" title="Specify minimum value of peak rotation rate for an event"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="minSNR" style="query" type="xs:double" default="0.0">
                     <doc xml:lang="english" title="Specify minimum rotation rate signal-to-noise ratio for an event"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="format" style="query" type="xs:string" default="quakeml">
                     <doc xml:lang="english" title="Specify output format"/>
                     <option value="quakeml" mediaType="application/xml"/>
                     <option value="text" mediaType="text/plain"/>
                  </param>
                  <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="nodata" style="query" type="xs:int" default="204">
                     <doc xml:lang="english" title="Specify which HTML Status code is returned when no data is found"/>
                     <option value="204"/>
                     <option value="404"/>
                  </param>
               </request>
               <response>
                  <representation mediaType="text/plain"/>
                  <representation mediaType="application/xml"/>
               </response>
            </method>
         </resource>
      </resource>
   </resources>
</application>